.espacio{
	padding-bottom: 1%;
	padding-top:1%;
	background-color:#1E1F29 ;
	color: #fff;
}

.centrado2{
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 3%;
	padding-left: 3%;
	border-bottom: 2px solid #000;	
}

.letra2{
	font-size: 40px;
	font-family: bold;

}

.foo{
	border: 2px solid #000;
	border-radius:180px;
	height: 250px;
	width: 250px ;
	box-shadow: 3px 3px 3px gray;
}

.fperfil{
	height: 100%;
	width: 100%;
}
.pad{
	padding-top: 3%;
}

.colorf{
	background: #c9d1d3;
	height: 500px;
	margin: 20px;
}

.boton{
	height: 30px;
	width: 175px;
	background-color: #1E1F29;
	border: 2px solid #1E1F29;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 2px;
	box-shadow: 2px 2px 2px gray; 
	margin-right: 5px;



}

.centrado3{
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 3%; 
}

.coloricon{
	color: #1E1F29;
	font-size: 20px;
}

.foo:hover {
	background-color: #1E1F29;
	transition: background-color .9s;
}

.d_a{
	font-size: 12px;
	
}

a{
	text-decoration: none !important;
	color: #ffffff !important;
}

.heitam{
	height: 100px;
}

.fondo{
	background:;
	height: 500px;
	padding-top: 3%;
}

.sombra{
	border: 2px solid #1E1F29;
	box-shadow: 2px 2px gray ;
	height: 470px;
	width: 710px;
}

.img{
	margin-top:20px; 
	border: 2px solid #000;
	width: 90%;
	height: 90%;
}

.tamcolc{
	width: 100%;
	height: 100%;
}

.tamro{
	height: 100%;
	width: 100%;
}

.taminput8{
	width: 200px;
	height: 200px;
}

.taminput7{
	width: 200px;
	margin-top: 20px;
}

.boton1{
	height: 30px;
	width: 175px;
	background-color: #1E1F29;
	border: 2px solid #1E1F29;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 2px;
	box-shadow: 2px 2px 2px gray; 
	margin-right: 5px;

}

.taminpute{
	height: 300px;
	width: 100%;
}

.contenerimagen{
	border: 2px solid black;
	width: 250px;
	height: 250px;
	margin-top:30px; 
}

.taminputdes{
	width: 250px;
	height: 75px;
}

.centrarblog{
	display: grid;
	justify-content: center;
	align-items: center;
	

}
.todo{
	width: 100% !important;
	height: 70% !important;
}
.todo2{
	width: 100% !important;
	height: 90% !important;
}
@media(max-width: 575px){

	.pad {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.ajuste {
		margin-right: 142% !important;
		margin-left: 26%;
	}


}

@media(max-width: 769px){

	.ajuste {
		margin-right: 2%;
	}

	.datos {
		padding-top: 4%;
		margin-left: 30%;
	}

	.foo {
		margin-left: 100%;
	}
}

@media(max-width: 360px){

	.ajuste {
		margin-left: 6% !important;
	}

	.datos {
		margin-left: 26%;
	}
}

@media(max-width: 320px){

	.ajuste {
		margin-left: -12% !important;
	}
}

@media(max-width: 375px){

	.ajuste {
		margin-left: 8%;
	}
}