<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<script src="lib/jquery.js"></script>
	<title></title>
	<link rel="stylesheet" href="lib/boo/css/bootstrap.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="lib/fontawesome/css/all.css">
</head>
<body>
	<div class="container-fluid ">
			<!-- Fila titulo empresa-->
			<div class="row espacio">
				<div class="col-md-12 text-center">
					<h3><b>Y O U R &nbsp C H A N C E</b></h3>
				</div>
			</div>
		</div>
	<div class="container-fluid">
		<div class="row ">
			<div class="col-md-4 centrarblog">
				<div class="contenerimagen">
					
				</div>
				<input type="text" value="Descripcion de Imagen" class="taminputdes">
			</div>
			<div class="col-md-4 centradoblog">
				<div class="contenerimagen">
					
				</div>
				<input type="text" value="Descripcion de Imagen" class="taminputdes">
			</div>
			<div class="col-md-4 centradoblog">
				<div class="contenerimagen">
					
				</div>
				<input type="text" value="Descripcion de Imagen" class="taminputdes">
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 centradoblog">
				<div class="contenerimagen">
					
				</div>
				<input type="text" value="Descripcion de Imagen" class="taminputdes">
			</div>
			<div class="col-md-4 centradoblog">
				<div class="contenerimagen">
					
				</div>
				<input type="text" value="Descripcion de Imagen" class="taminputdes">
			</div>
			<div class="col-md-4 centradoblog">
				<div class="contenerimagen">
					
				</div>
				<input type="text" value="Descripcion de Imagen" class="taminputdes">
			</div>
		</div>
	</div>
	<script src="lib/angular.js"></script>
	<script src="js/sweet.js"></script>
	<script src="js/script.js"></script>
</body>
</html>