<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<script src="lib/jquery.js"></script>
		<title></title>
		<meta name="viewport" content="width=device-width, user-scalable=no">
		<link rel="stylesheet" href="lib/boo/css/bootstrap.css">
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="lib/fontawesome/css/all.css">
	</head>
	<body>
		<!-- Contenedor 1-->
		<div class="container-fluid">
			<!-- Fila titulo empresa-->
			<div class="row espacio">
				<div class="col-md-12 text-center">
					<h3><b>Y O U R &nbsp C H A N C E</b></h3>
				</div>
			</div>
		</div>
		<div class="container">
			<!-- Texto Perfil-->
			<div class="row perfil1">
				<div class="col-md-12 centrado2">
					<p class="letra2">Perfil Usuario</p>
				</div>
			</div>
			<!--Perfil-->
			<div class="row pad">
				<!--Foto de perfil-->
				<div class="col-md-4 col-sm-3 ajuste">
					<div class="">
						<img src="images/empleado.jpg" class="fperfil img-fluid">
					</div>
				</div>
				<!-- curriculum del Usuario-->
				<div class="col-md-8 centrar datos col-sm-9">
					<div class="row">
						<div class="col-md-2">
							<p><b>Nombre</b></p>
						</div>
						<div class="col-md-10">
							<span>Freddy Gonon</span>
						</div>
					</div>
					<div class="row">
						<div class="col-md-2">
							<p><b>Edad</b></p>
						</div>
						<div class="col-md-10">
							<span>16</span>
						</div>
					</div>
					<div class="row">
						<div class="col-md-2">
							<p><b>Genero</b></p>
						</div>
						<div class="col-md-10">
							<select>
								<option>Hombre</option>
								<option>Mujer</option>
							</select>
						</div>
					</div>
					<div class="row">
						<div class="col-md-2">
							<p><b>celular</b></p>
						</div>
						<div class="col-md-10">
							<span>56789843</span>
						</div>
					</div>
					<div class="row">
						<div class="col-md-2">
							<p><b>DPI</b></p>
						</div>
						<div class="col-md-10">
							<span>7326645387628</span>
						</div>
					</div>
					<div class="row">
						<div class="col-md-2">
							<p><b>Direccion</b></p>
						</div>
						<div class="col-md-10">
							<span>4ta calle AV 30</span>
						</div>
					</div>
					<div class="row">
						<div class="col-md-3">
							<p><b>Referencia Personal</b></p>
						</div>
						<div class="col-md-9">
							<span>Dulce Maria/ Banco Industrial</span>
						</div>
					</div>
					<div class="row">
						<div class="col-md-3">
							<p><b>Referencia Laboral </b></p>
						</div>
						<div class="col-md-9">
							<span>Merrick Gonzales/ Movil Shop</span>
						</div>
					</div>
					<div class="row">
						<div class="col-md-2">
							<p><b>Otros</b></p>
						</div>
						<div class="col-md-10">
							<span>Titulo de Programacion/ Villa Nueva</span>
						</div>
					</div>
					<div class="row">
						<div class="col-md-2">
							<p><b>Aptitudes</b></p>
						</div>
						<div class="col-md-10">
							<ul>
								<li>Trabajo en equipo</li>
								<li>Liderazgo</li>
								<li>Puntualidad</li>
								<li>Responsabilidad</li>
								<li>Empatia</li>
							</ul>
						</div>
					</div>
					<div class="row">
						<div class="col-md-3">
							<p><b>Experencia Laboral</b></p>
						</div>
						<div class="col-md-9">
							<span>Ninguna</span>
						</div>
					</div>
					<div class="row">
						<div class="col-md-2">
							<p><b>Formacion Academica</b></p>
						</div>
						<div class="col-md-10">
							<span>Liceo Compu-Market/Cursando 4to BACO</span>
						</div>
					</div>
					<!-- Redes Sociales -->
					<div class="row">
						<div class="col-md-12">
							<a href="https://es-la.facebook.com/"><i class="fab fa-facebook-square coloricon"></i></a>
							<a href="https://www.instagram.com/?hl=es-la"><i class="fab fa-instagram coloricon"></i></a>
							<a href="https://accounts.google.com/ServiceLogin/identifier?service=mail&passive=true&rm=false&continue=https%3A%2F%2Fmail.google.com%2Fmail%2F%3Ftab%3Drm%26ogbl&scc=1&ltmpl=default&ltmplcache=2&emr=1&osid=1&flowName=GlifWebSignIn&flowEntry=AddSession"><i class="far fa-envelope coloricon"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 centrado3">
					<div class="boton">
						<a href="curri.html" class="d_a">Insetar Curriculum</a>
					</div>
				</div>
			</div>
		</div>


		<div class="container-fluid">
			<br><br><div class="row">
				<div class="col-md-3">
					<img src="images/6.jpg"  class="todo">
				</div>
				<div class="col-md-3">
					<img src="images/2.jpg"  class="todo">
				</div>
				<div class="col-md-3">
					<img src="images/3.jpg"  class="todo">
				</div>
				<div class="col-md-3">
					<img src="images/4.jpg"  class="todo">
				</div>

			</div>
			<div class="row">
				<div class="col-md-3">
					<img src="images/5.jpg"  class="todo2">
				</div>
				<div class="col-md-3">
					<img src="images/7.jpg"  class="todo2">
				</div>
				<div class="col-md-3">
					<img src="images/1.jpg"  class="todo2">
				</div>
				<div class="col-md-3">
					<img src="images/12.jpg"  class="todo2">
				</div>

			</div>
		</div>





		<script src="lib/angular.js"></script>
		<script src="js/sweet.js"></script>
		<script src="js/script.js"></script>
	</body>
</html>