<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<title>opciones</title>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
		<link rel="stylesheet"href="css/opcion.css">
		<link rel="stylesheet" type="text/css" href="css/carga.css">
	</head>
	<body class="hidden">
		<div class="container">
			<div class="card">
				<div class="face face1">
					<div class="content">
						<img src="imag/enterprise.png">
						<h3>Empresa</h3>
					</div>
				</div>
				<div class="face face2">
					<div class="content">
						<p>
							Crea tu cuenta para poder ser parte de una de las empresas que apoyan a los jovenes a brindarles una oportunidad laboral.
						</p>
						<a href="templates/copia.html">Registrate o Inicia secion</a>
					</div>
				</div>
			</div>
			<div class="card">
				<div class="face face1">
					<div class="content">
						<img src="imag/employee.png">
						<h3>Empleado</h3>
					</div>
				</div>
				<div class="face face2">
					<div class="content">
						<p>
							Estas en busca de superarte en la vida laboral, nosotros te damos la oportunidad de poder encontrar con mas facilidad trabajo.
						</p>
						<a href="templates/empleado.html">Registrate o Inicia secion</a>
					</div>
				</div>
			</div>
		</div>
		<div class="ring contenedor_carga">
			<div id="carga">
				<img src="imag/logo.jpg">
			<span></span>
			</div>
		</div>
		<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<script src="js/script.js">
			
		</script>
	</body>
</html>