<!DOCTYPE html>
<html>
<head>
	<title>PERFIL DE EMPRESA</title>
	<!-- librerias utilizadas -->
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="lib/boo/css/bootstrap.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
	<link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
</head>
<body>

	<div class="container-fluid">
		<div class="row menu">
			<div class="col-md-12 centrado">
				<h4><b>Y O U R &nbsp  C H A N C E</b></h4>
			</div>
		</div>
	</div>

	<div class="container-fluid esp">
		<div class="container">
			<div class="row linea">
				<div class="col-md-12 centrado">
					<h4>P E R F I L</h4>
				</div>
			</div>

			<div class="row esp">
				<!-- datos de la empresa -->
				<div class="col-md-4">
					<div class="cuadro centrado">
						<img src="images/logo.jpg" width="280px" height="240px">
					</div>
				</div>

				<div class="col-md-8 titulos">
					<ul class="lista">
						<li class="esplist">
							<div class="row datos centrado">
								<div class="col-md-7">
									<h4>Nombre de la Empresa:</h4>
								</div>
								<div class="col-md-5">
									<span>Dominos</span>
								</div>
							</div>
						</li>
						<li>
							<div class="row datos centrado">
								<div class="col-md-7">
									<h4>Tipo de Empresa:</h4>
								</div>
								<div class="col-md-5">
									<span>Restaurante</span>
								</div>
							</div>
						</li>
						<li>
							<div class="row datos centrado">
								<div class="col-md-7">
									<h4>Telefono:</h4>
								</div>
								<div class="col-md-5">
									<span>58459639</span>
								</div>
							</div>
						</li>
						<li>
							<div class="row datos centrado">
								<div class="col-md-7">
									<h4>Correo Electronico:</h4>
								</div>
								<div class="col-md-5">
									<span>dominos@gmail.com</span>
								</div>
							</div>
						</li>
						<li>
							<div class="row datos centrado">
								<div class="col-md-7">
									<h4>Ubicacion:</h4>
								</div>
								<div class="col-md-5">
									<span>4ta. calle 6-86 Zona 10</span>
								</div>
							</div>
						</li>
						<li>
							<!-- iconos de redes sociales-->
							<i class="fab fa-facebook-f icono"></i>
							<i class="fab fa-whatsapp icono app"></i>
							<i class="fas fa-envelope icono mail"></i>
						</li>
					</ul><br><br>
				</div>
			</div>
		</div>
	</div>

		<div class="container-fluid fondo">
			<div class="row centrado linea2">
				<div class="col-md-12 text-white centrado esplist">
					<h4>P U E S T O S &nbsp B A C A N T E S </h4>
				</div>
			</div>

			<div class="row esp titulos">
				<!-- puestos disponibles de la empresa -->
				<div class="col-md-4 cartas">

					<div class="card centrado esp">
						<div class="info centrado">IMAGEN</div>
						<div class="card-body">
							<h4 class="text-center">PUESTO</h4>
								<div class="row esp">
									<div class="col centrado">
										<i class="fas fa-map-marker-alt ubicacion"></i>
									</div>

									<div class="col centrado">
										<i class="far fa-clock horario"></i>
									</div>

									<div class="col centrado">
										<i class="fas fa-coins salario"></i>
									</div>
								</div>

								<div class="row esp">
									<div class="col">
										<span>Horario</span>
									</div>

									<div class="col">
										<span>ubicacion</span>
									</div>

									<div class="col">
										<span>Salario</span>
									</div>
								</div>

								<div class="row centrado">
									<div class="boton">
										<span>SEGUIR</span>
									</div>
								</div>
						</div>
					</div>

				</div>
				<div class="col-md-4 cartas">
					<div class="card centrado esp">
						<div class="info centrado">IMAGEN</div>
						<div class="card-body">
							<h4 class="text-center">PUESTO</h4>
								<div class="row esp">
									<div class="col centrado">
										<i class="fas fa-map-marker-alt ubicacion"></i>
									</div>

									<div class="col centrado">
										<i class="far fa-clock horario"></i>
									</div>

									<div class="col centrado">
										<i class="fas fa-coins salario"></i>
									</div>
								</div>

								<div class="row esp">
									<div class="col">
										<span>Horario</span>
									</div>

									<div class="col">
										<span>ubicacion</span>
									</div>

									<div class="col">
										<span>Salario</span>
									</div>
								</div>

								<div class="row centrado">
									<div class="boton">
										<span>SEGUIR</span>
									</div>
								</div>
						</div>
					</div>
				</div>

				<div class="col-md-4 cartas">
					<div class="card centrado esp">
						<div class="info centrado">IMAGEN</div>
						<div class="card-body">
							<h4 class="text-center">PUESTO</h4>
								<div class="row esp">
									<div class="col centrado">
										<i class="fas fa-map-marker-alt ubicacion"></i>
									</div>

									<div class="col centrado">
										<i class="far fa-clock horario"></i>
									</div>

									<div class="col centrado">
										<i class="fas fa-coins salario"></i>
									</div>
								</div>

								<div class="row esp">
									<div class="col">
										<span>Horario</span>
									</div>

									<div class="col">
										<span>ubicacion</span>
									</div>

									<div class="col">
										<span>Salario</span>
									</div>
								</div>

								<div class="row centrado">
									<div class="boton">
										<span>SEGUIR</span>
									</div>
								</div>
						</div>
					</div>
				</div>

			</div>
		</div>


	<script src="js/script.js"></script>

</body>
</html>